#category{
    display: flex;
    margin:auto;
    height:40px;
    margin-top: 74px;
    width: 70.5%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(0, 0, 35, 0.15) 0px 0px 0px 1px;
    font-family: Arial, Helvetica, sans-serif;
}
#category>div:nth-child(1){
    width: 20%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(111, 207, 37, 0.832);
    color: white;
    padding: -0px 20px 15px 20px;
    font-weight: 700;
    
}
#category>div:nth-child(1)>p:nth-child(2){
  transform:rotate(90deg);
  margin-top: 25px;
}
#category>div:nth-child(2){
    display: flex;
    padding-left: 10px;
    width: 10%;
    padding-right: 3px;
}
#category>div:nth-child(2)>img{
    width: 80%;
    height: 80%;
    margin-top: 5px;
}
#category>div:nth-child(2):hover{
   background-color:rgba(58, 112, 16, 0.832);
   color: white;
}
#category>div:nth-child(2){
    display: flex;
    padding-left: 10px;
}
#category>div:nth-child(2)>p{
    margin-top: 12px;
    margin-left: 5px;
    font-weight:lighter;
}



